{% extends "base_producer.html" %} {% block title %}Main Page{% endblock %} {% block content
    %}

    <form action="/create" method="POST">

        <div class="form-field">
          <label for="name">Name of the product:</label>
          <input type="text" id="name" name="name">
        </div>
    
        <div class="form-field">
          <label for="price">Price:</label>
          <input type="number" id="price" name="price" step="0.01" min="0">
        </div>
    
        <div class="form-field">
          <label for="quantity">Quantity:</label>
          <input type="number" id="quantity" name="quantity" min="0">
        </div>
    
        <div class="form-field">
          <button type="submit" class="submit-button" value="Create Product">Create Product</button>
        </div>
    
      </form>


{% endblock %}